[client]
host=localhost
port=3306
user=root
password=ansa1019
database=fju_sdrc
default-character-set=utf8mb4
collation-server=utf8mb4_unicode_ci
default-collation=utf8mb4_unicode_ci


[mysqld]
character-set-server=utf8mb4
default-collation=utf8mb4_unicode_ci